<!doctype html>
<html lang="en">
  <head>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <style>
body {
  background-image: url("https://media.tenor.com/images/412b282758b073720c3b43a0f269acda/tenor.gif");
}
.avatar {
  margin-top: auto;
  margin-bottom: auto;
  margin: 8%;
}
.button {
        display: inline-block;
        padding: 10px 30px;
        width: 200px;
        height: 180px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #E7A3E6;
        border-radius: 6px;
        outline: none;
      }
      .buttonf {
        display: inline-block;
        padding: 10px 30px;
        width: 100px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #E7A3E6;
        border-radius: 6px;
        outline: none;
      }
.margin {
  margin-top: auto;
  margin-bottom: auto;
  margin: 8%;
}
img {
  border-radius: 50%;
}
</style>

<center>
  <h1 style="background-color: #E7A3E6; color: #ffffff">Commands</h1>
<p style="background-color: #E7A3E6; color: #ffffff">NOTE: This may be take long time to update these Commands and Make sure the bot has Right permissions</p>
<a href="" class="button">U know what this is hard to code just type in 'in!help' for the commands this could be useless lol my eyes r tired of this.</a>
<a href="https://Inosogo.zedxoss.repl.co" class="buttonf">ok go back</a>
</center>

